EXPO_PUBLIC_CONVEX_URL=https://usable-tapir-102.convex.cloud
EXPO_PUBLIC_CONVEX_HTTP_ACTIONS_URL=https://usable-tapir-102.convex.site
EXPO_PUBLIC_CONVEX_SITE_URL=https://usable-tapir-102.convex.site
CONVEX_DEPLOYMENT=prod:usable-tapir-102
APP_ENV=development
